.modal-video {
	.modal-video-btn {
		width: 90px;
		height: 90px;
		position: absolute;

		& > * {
			transition: all $transition-default;
		}

		path {
			fill: $white;
		}

		circle {
			fill: $gray-light;
		}
	}

	@include on-hover {
		.modal-video-btn {
			path {
				fill: $green;
			}

			circle {
				fill-opacity: 0.8;
			}
		}
	}
}
