// -----------------------------------------------------------------------------
// Файл с описанием сетки flexbox или grid (строки, колонки)
// -----------------------------------------------------------------------------

/**
 * Сетка Flexbox
 */
.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
