// -----------------------------------------------------------------------------
// Файл с описанием контейнера и сетки
// -----------------------------------------------------------------------------

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
	min-width: $min-width;
	width: 100%; /* 1 */
	margin-left: auto; /* 2 */
	margin-right: auto; /* 2 */
	padding: 0; /* 3 */
}

.flex-1 {
	flex: 1;
}

/**
 * Content
 */
.content {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $min-padding;
	padding-right: $min-padding;
	position: relative;

	@include resp-from(xl) {
		padding-left: $max-padding;
		padding-right: $max-padding;
	}

	&_wide {
		max-width: 100%;
	}
}
