/**
 * Basic typography style for text
 */

/*
https://learn.javascript.ru/css-units
rem - от html
em - от текущего шрифта
% - от размера шрифта родителя / margin-left - от родительской ширины / line-height - от текущего размера шрифта (не от родителя) / width/height - от ширины/высоты родителя/окна (при position:fixed)
vw – 1% ширины окна
vh – 1% высоты окна
vmin – наименьшее из (vw, vh), в IE9 обозначается vm
vmax – наибольшее из (vw, vh)
*/

/// Default font size for rem() function (body font-size 100%)
/// перенес в variables
// $browser-context: 16;

body {
	color: $text-color;
	font: normal rem(16) / 1.2 $family-text;
}

/**
 * Text others
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $family-headers;
}

h1,
.h1 {
	@extend %h1-heading;
}

h2,
.h2 {
	@extend %h2-heading;
}

h3,
.h3 {
	@extend %h3-heading;
}

h4,
.h4 {
	@extend %h4-heading;
}

h5,
.h5 {
	@extend %h5-heading;
}

h6,
.h6 {
	@extend %h6-heading;
}

a {
	@extend %text-links-solid;
}

p {
	margin-bottom: 16px;
	line-height: 1.4;

	// a {
	// 	@extend %link-classic;
	// }
}

ul,
ol {
	display: block;
	list-style-type: disc;
	margin-bottom: 15px;
	margin-left: 12px;
	padding-left: 20px;

	li {
		margin-bottom: 5px;
	}
}

ol {
	list-style-type: decimal;
}

/**
 * Text positions
 */
.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-cols-2 {
	column-count: 2;
	column-gap: 60px;
	column-width: 300px;
}

/**
 * Text colors
 */
.text-black {
	color: $black;
}

.text-white {
	color: $white !important;
}

.error {
	color: $red;
}

/**
 * Font weights
 */
.fw-400 {
	font-weight: 400;
}

/**
 * Font sizes
 */
.small {
	font-size: 0.85rem !important;
}

.fz-13-20 {
	font-size: rem(13) !important;

	@include resp-from(lg) {
		font-size: rem(20) !important;
	}
}

/**
 * Links
 */
.link-more {
	display: flex;
	align-items: center;
	color: $swamp;
	text-align: right;
	line-height: 1;
	text-underline-offset: 2px;
	font-size: rem(11);

	@include resp-from(md) {
		font-size: rem(13);
	}

	&::after {
		content: "";
		display: block;
		position: relative;
		width: 10px;
		height: 12px;
		background: currentColor;
		clip-path: polygon(0 0, 0% 100%, 100% 50%);
		margin-left: 7px;
		// right: 0;

		@include resp-from(md) {
			width: 14px;
			height: 15px;
			margin-left: 9px;
		}
	}

	@include on-hover {
		color: $green;

		// &::after {
		// 	right: -2px;
		// }
	}
}

.no-decoration {
	text-decoration-color: transparent !important;
}
