<div id="modalTop1" class="modal">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalTop1 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-top-1.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Северное сияние</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>На самом деле северное сияние правильнее называть полярным или Aurora borealis. Оно бывает не только в северном полушарии, но и в южном, когда там царит зима. Явление возникает во время пиков солнечной активности или магнитных бурь. Заряженные частицы, выброшенные звездой, достигают атмосферы нашей планеты и при взаимодействии с газами вызывают зеленое, красное и фиолетовое свечение.</p>
				<p>А вот на севере, в том числе в Карелии, аврора возникает регулярно. Это значит, что вы вполне можете совместить фантастический зимний отдых с охотой за удивительным полярным сиянием.</p>
				<p>Берег озера Мунозера, расположенного на высоте 202 метра над уровнем моря, лишь частично заселен. На его южной стороне почти нет строений, а значит, свет не будет мешать любоваться авророй. Удивительная природа станет отличным фоном для фантастических фото.</p>
				<p>А вот на севере, в том числе в Карелии, аврора возникает регулярно. Это значит, что вы вполне можете совместить фантастический зимний отдых с охотой за удивительным полярным сиянием.</p>
				<p>Берег озера Мунозера, расположенного на высоте 202 метра над уровнем моря, лишь частично заселен. На его южной стороне почти нет строений, а значит, свет не будет мешать любоваться авророй. Удивительная природа станет отличным фоном для фантастических фото.</p>
			</div>
		</div>

	</div>
</div>

<div id="modalTop2" class="modal">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalTop2 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-top-2.jpg" width="600" height="320" alt="" loading="lazy">
			</div>
			<div class="modal__intro">

				<div class="modal__intro-body">
					&laquo;Вереяр&raquo;, где &laquo;верея&raquo; &mdash; основа, поддерживающая ворота в открытие Карелии, а&nbsp;&laquo;яровать&raquo; &mdash; старорусский глагол действия, означающий последовательный путь к новой лучшей версии себя и мира.
				</div>

				<div class="modal__intro-author block-author">
					<div class="block-author_photo">
						<img src="@img/main-bottom/bot-img-photo-2.png" class="mw-66" width="90" height="90" alt="" loading="lazy">
					</div>
					<div class="block-author_data">
						<div class="block-author__name">Дмитрий Хан</div>
						<div class="block-author__title">Генеральный директор ООО <br>&laquo;ГРБК &laquo;Спасская Губа&raquo;</div>
					</div>
					<svg width="58" height="71" data-da="#modalTop2 .modal__text,1023,last">
						<use xlink:href="#ornament-bird-red"></use>
					</svg>
				</div>
			</div>






		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Легенда Вереяра</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>В древние времена на просторах Карелии обитали великаны. Славились они не только своей мощью, но и невероятным гостеприимством. Однажды между ними разгорелось состязание: кто же из них окажется самым гостеприимным хозяином.</p>
				<p>Первый великан, стремясь показать своё щедрое сердце, накрыл стол, который мог бы вместить всех жителей мира. Но в своём рвении он забыл о самом главном &mdash;пригласить гостей. Второй, воспылав желанием победить, позвал к себе всех подряд, но так увлёкся приглашениями, что забыл о пространстве для гостей &mdash; и они не смогли уместиться в его доме.</p>
				<p><strong>Тогда на арену вышел третий великан по имени Вереяр.</strong> Он не торопился с действиями и не хвастал планами. Вереяр взял два огромных столба и поднялся на высокий холм, где силой своих рук воздвиг ворота, словно вход в невиданный двор. Остальные великаны смеялись над ним, не понимая смысла его действий. Но Вереяр лишь улыбнулся в ответ и произнёс: &laquo;Где ворота &mdash; там двор. Где двор &mdash; там дом. А где дом &mdash; там всегда найдутся гости&raquo;.</p>
				<p>И словно магическим образом, всё обернулось так, как он сказал. Через эти ворота-портал в его дом стали стекаться гости со всех уголков мира. И каждому находилось место, каждый знал, что его ждёт тёплый приём и вкусное угощение. С тех пор прошло много лет, но место это до сих пор зовут Вереяр. И до сих пор люди со всех концов приходят сюда за чудом, за уютом и теплом. Они знают &mdash; здесь всегда рады гостям. Так образовалось место силы, которое напоминает всем о важности гостеприимства, доброты и того необыкновенного чувства, когда тебя ждут и рады видеть.</p>
			</div>
		</div>

	</div>
</div>




<!-- <div id="modalBlock3" class="modal modal_carousel">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_image">
			<div id="modalBlock3Carousel" class="f-carousel">
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b3-1.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b3-2.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b3-3.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b3-4.jpg" alt="" /></div>
			</div>
		</div>
		<div class="modal__col modal__col_text">
			<div class="modal__text">
				<h5></h5>
				<p>
					Важный вклад в&nbsp;изучение морской коровы внёс американский зоолог норвежского происхождения, биограф Стеллера Леонард Штейнегер, проведший
					на&nbsp;Командорах исследования в&nbsp;1882&ndash;1883 годах и&nbsp;собравший большое количество костей этого животного.
				</p>
				<p>
					Подсчёты, сделанные в&nbsp;1880-е годы Штейнегером, говорят, что поголовье стеллеровой коровы во&nbsp;всём их&nbsp;ареале на&nbsp;момент открытия
					этого вида едва&nbsp;ли превышало полторы тысячи особей.
				</p>
				<figure>
					<blockquote>
						Стеллерова корова считается исконно русским видом животного, несмотря на&nbsp;то&nbsp;что среда её&nbsp;обитания не&nbsp;ограничивалась границами нашей страны.
					</blockquote>
					<figcaption>Фёдор Шарко</figcaption>
				</figure>
				<p>
					Бо&#769;льшую часть времени стеллеровы коровы кормились, медленно плавая на&nbsp;мелководье, часто используя передние конечности для опоры
					на&nbsp;грунт. Они не&nbsp;ныряли, и&nbsp;их&nbsp;спины постоянно высовывались из&nbsp;воды. Коровы подходили так близко к&nbsp;берегу, что иногда
					до&nbsp;них можно было дотянуться руками.
				</p>
				<p>
					Морские коровы обитали в&nbsp;прибрежной полосе небольшими группами. Детёныши держались впереди группы, слегка ей&nbsp;окруженные, что способствовало
					их&nbsp;защите от&nbsp;врагов. Коровы были развитыми в&nbsp;плане интеллекта, имели трепетные отношения внутри стада и&nbsp;выраженные эмоции
					по&nbsp;отношению к&nbsp;своим малышам, собратьям, сородичам.
				</p>
				<figure>
					<blockquote>
						Корова кормила малышей своих подмышкой, молочные железы у&nbsp;неё были где-то подмышкой&nbsp;&mdash; она как будто обнимала своего малыша.
						Единственный детёныш рождался осенью. Продолжительность беременности превышала год.
					</blockquote>
					<figcaption>Анастасия Кузнецова</figcaption>
				</figure>
				<p>Продолжительность жизни стеллеровой коровы, как и&nbsp;у&nbsp;её&nbsp;ближайшего родственника дюгоня, могла достигать девяноста лет.</p>
			</div>
		</div>
	</div>
</div>
<div id="modalBlock4" class="modal modal_carousel">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_image">
			<div id="modalBlock4Carousel" class="f-carousel">
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b4-1.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b4-2.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b4-3.jpg" alt="" /></div>
			</div>
		</div>
		<div class="modal__col modal__col_text">
			<div class="modal__text">
				<h5></h5>
				<p>
					Стеллерова корова была животным очень крупных размеров. По&nbsp;длине и&nbsp;массе тела она, вероятно, превосходила всех остальных водных
					млекопитающих, кроме китообразных.
				</p>
				<figure>
					<blockquote>
						Беззубая гигантская сирена, которая питается морскими водорослями, добрая и&nbsp;беззащитная.
					</blockquote>
					<figcaption>Алексей Тихонов</figcaption>
				</figure>
				<p>
					Внешность капустницы была характерной для всех сиреновых, за&nbsp;исключением того, что стеллерова корова намного превосходила своих сородичей
					по&nbsp;размеру. Тело животного было толстым и&nbsp;вальковатым. Голова была в&nbsp;сравнении с&nbsp;размерами тела очень небольшой, причём корова
					могла свободно двигать головой как в&nbsp;стороны, так и&nbsp;вверх-вниз.
				</p>
				<p>
					Кожа коровы была голой, складчатой и&nbsp;чрезвычайно толстой&nbsp;и, по&nbsp;выражению Стеллера, напоминала кору старого дуба. Цвет её&nbsp;был
					от&nbsp;серо- до&nbsp;тёмно-коричневого, иногда с&nbsp;беловатыми пятнами и&nbsp;полосами. Один из&nbsp;немецких исследователей, изучавший
					сохранившийся кусок кожи стеллеровой коровы, установил, что по&nbsp;прочности и&nbsp;эластичности она близка к&nbsp;резине современных автомобильных
					покрышек.
				</p>
				<figure>
					<blockquote>
						Ребро коровы несоизмеримо тяжелее любой другой кости, тяжелее даже, чем клык моржа или бивень мамонта. Ребро&nbsp;&mdash; одна из&nbsp;самых плотных
						костей коровы, поэтому этот качественный материал пользуется спросом среди поделочников.
					</blockquote>
					<figcaption>Анастасия Кузнецова</figcaption>
				</figure>
				<p>
					Капустница вела малоподвижный образ жизни, держась в&nbsp;основном близ берега; по-видимому, она не&nbsp;была способна нырять. Кормом стеллеровой
					корове служили исключительно морские водоросли, прежде всего ламинария (&laquo;морская капуста&raquo;).
				</p>
				<p>
					Стеллерова корова практически не&nbsp;подавала звуковых сигналов. Она обычно лишь фыркала, выдыхая воздух, и&nbsp;только будучи раненой могла издавать
					громкие стонущие звуки. Видимо, это животное обладало хорошим слухом, о&nbsp;чём свидетельствует значительное развитие внутреннего уха. Впрочем,
					коровы почти никак не&nbsp;реагировали на&nbsp;шум подплывавших к&nbsp;ним лодок.
				</p>
			</div>
		</div>
	</div>
</div>
<div id="modalBlock5" class="modal modal_carousel">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_image">
			<div id="modalBlock5Carousel" class="f-carousel">
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b5-1.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b5-2.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b5-3.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b5-4.jpg" alt="" /></div>
			</div>
		</div>
		<div class="modal__col modal__col_text">
			<div class="modal__text">
				<h5></h5>
				<p>
					Поведение морской коровы отличалось медлительностью, апатичностью и&nbsp;отсутствием страха перед человеком. Хищническое истребление китобоями
					и&nbsp;промышленниками ради вкусного мяса (до&nbsp;трёх тонн мяса от&nbsp;одной особи), а&nbsp;также невысокая численность на&nbsp;момент открытия
					(около 2000&nbsp;особей) способствовали полному исчезновению этого животного к&nbsp;1768&nbsp;году.
				</p>
				<figure>
					<blockquote>
						Документально подтверждено, что исчезновение последней известной популяции, обитавшей на&nbsp;Командорских островах, явилось результатом не&nbsp;природных факторов, а&nbsp;деятельности человека.
					</blockquote>
					<figcaption>Сергей Бачин</figcaption>
				</figure>
				<p>На&nbsp;сегодняшний день в&nbsp;Командорском заповеднике удалось накопить более 300 единиц материала по&nbsp;стеллеровой корове.</p>
				<p>
					Появляющиеся изредка сообщения о&nbsp;наблюдении морских коров в&nbsp;ряде районов Камчатского края не&nbsp;подтверждены. В&nbsp;музеях всего мира
					сохраняется значительное количество костных остатков капустниц, в&nbsp;том числе несколько полных скелетов, а&nbsp;также кусков их&nbsp;кожи.
				</p>
				<p>На&nbsp;территории России сохранены 4&nbsp;целых скелета:</p>
				<ul>
					<li>два&nbsp;скелета в&nbsp;Зоологическом институте в&nbsp;Петербурге;</li>
					<li>один&nbsp;&mdash; в&nbsp;Хабаровском Краеведческом музее;</li>
					<li>один&nbsp;&mdash; в&nbsp;Москве в&nbsp;Зоологическом музее Московского университета.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="modalBlock6" class="modal modal_carousel">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_image">
			<div id="modalBlock6Carousel" class="f-carousel">
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b6-1.jpg" alt="" /></div>
				<div class="f-carousel__slide"><img class="modal__image" src="@img/modals/b6-2.jpg" alt="" /></div>
			</div>
		</div>
		<div class="modal__col modal__col_text">
			<div class="modal__text">
				<h5></h5>
				<p>
					Во&nbsp;время открытия и&nbsp;исследования Командорско-Алеутской островной дуги экспедицией Витуса Беринга морская корова сохранилась только
					на&nbsp;Командорских островах. Однако по&nbsp;ископаемым останкам известно, что она также обитала на&nbsp;западных Алеутских островах
					и&nbsp;в&nbsp;Монтерее в&nbsp;Калифорнии. Очевидно, что исторический ареал этого вида был существенно более обширным.
				</p>
				<p>
					Ископаемые находки, относящиеся к&nbsp;позднему плейстоцену (130&ndash;20&nbsp;тыс. лет назад), подтверждают факт широкого распространения стеллеровых
					коров в&nbsp;этой географической зоне, от&nbsp;островов Рюкю (Япония) до&nbsp;берегов Калифорнии. Обитание стеллеровой коровы в&nbsp;ограниченном
					ареале у&nbsp;незаселённых людьми Командорских островов относится уже к&nbsp;наступлению голоцена. Исследователи не&nbsp;исключают, что в&nbsp;других
					местах корова исчезла ещё в&nbsp;доисторическое время из-за преследования местными охотничьими племенами.
				</p>
				<p>
					Некоторые американские исследователи полагали, что ареал стеллеровой коровы в&nbsp;прибрежной материковой части Северной Америки мог сократиться еще
					раньше, 11&ndash;12&nbsp;тыс. лет назад, из-за истребления первобытными охотниками.
				</p>
				<p>
					Российские генетики, исследовав палеоДНК, извлечённую из&nbsp;полуископаемых костей одной из&nbsp;последних коров на&nbsp;Командорских островах,
					датированных XVIII&nbsp;веком, пришли к&nbsp;выводу, что ареал стеллеровой коровы, из-за потепления климата и&nbsp;затопления прибрежных мелководий
					в&nbsp;начале голоцена, вероятно, резко сократился и&nbsp;распался на&nbsp;изолированные участки, что привело к&nbsp;снижению генетического
					разнообразия и&nbsp;численности этого вида еще до&nbsp;воздействия первобытного человека.
				</p>
				<p>
					Неизвестно, привело&nbsp;бы это в&nbsp;итоге к&nbsp;вымиранию коровы, но&nbsp;это сделало малочисленные изолированные популяции стеллеровых коров
					уязвимыми перед охотниками. Не&nbsp;вызывает сомнений тот факт, что последняя популяция стеллеровых коров у&nbsp;Командорских островов истреблена
					людьми, а&nbsp;низкое генетическое разнообразие не&nbsp;мешало этой популяции существовать тысячи лет до&nbsp;момента её&nbsp;открытия человеком
					и&nbsp;безжалостного истребления всего за&nbsp;несколько десятилетий.
				</p>
			</div>
		</div>
	</div>
</div> -->