<div id="modalBot3" class="modal">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_aside" data-da="#modalBot3 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-bot-3.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>
		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">История места</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>Спасская Губа &mdash; село, располагающееся в Кондопожском районе, Республики Карелия. Населенный пункт является административным центром Петровского сельского поселения. Считается одним из старинных сел района. Первые упоминания о нём появились в XVI веке.</p>
				<p>Первое упоминание о Спасской Губе датируется XVI веком. Однако каких-то особенно подробных описаний местности и населения не осталось. Известно, что два века спустя на этом месте возвели чугуноплавильные заводы. Население занималось добычей малинового гранита на территории близлежащего населенного пункта &mdash; села Белая гора. Добытый материал позже переправлялся в Санкт-Петербург. Помимо этого, жители села вели торговлю с соседями.</p>
				<p>В течение последующих шестнадцати лет поселок развивался и процветал. Однако это продолжалось недолго. В 1918 году, когда в стране разгоралась гражданская война, территория Спасской Губы попала под линию фронта. В тот год было расстреляно 50 жителей. В дальнейшем земли Спасской Губы постигла участь коллективизации 30-х. Советская власть раскулачила 114 крестьян, проживающих здесь. Далее настал час раздела земель: в прилегающих землях было основано девять коллективных хозяйств. Позже Спасская Губа получает статус центра Петровского района.</p>
				<p>На территории села строятся отделение милиции, районный комитет КПСС, лесное хозяйство. Открываются типография, клуб, школа и библиотека. С развитием инфраструктуры начинается подъем демографии и приток людей.</p>
				<p>Конец 30-х вновь омрачает жизнь сельчан: во время &laquo;красного террора&raquo; арестовывается 67 мужчин. К этому времени общее население составляет 527 человек. Во время Великой Отечественной войны финский захватчик зашел на территорию села. Однако при отступлении советские войска воспользовались тактикой &laquo;выжженной земли&raquo;, после чего от угодий Спасской Губы осталось шесть домов. Жителей села транспортировали за Урал. После войны население вернулось на родную землю.</p>
			</div>
		</div>
	</div>
</div>

<div id="modalBot10_1" class="modal modalBot10_1">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalBot10_1 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-bot-10-1.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Концепция</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>Концепция курорта подразумевает создание уютного городка с разнообразием отелей, апартов, ресторанов, кафе, магазинов и сервисов.</p>
				<p>Базарные площади, торговые галереи и креативные общественные пространства, пристань и яхтенная марина сформируют незабываемую атмосферу северного гостеприимства.</p>
				<div class="modal-svg-bottom">
					<svg width="101" height="81">
						<use xlink:href="#ornament-fish-swamp"></use>
					</svg>
				</div>
			</div>
		</div>

	</div>
</div>