<div id="modalTop1" class="modal">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalTop1 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-top-1.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Северное сияние</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>На самом деле северное сияние правильнее называть полярным или Aurora borealis. Оно бывает не только в северном полушарии, но и в южном, когда там царит зима. Явление возникает во время пиков солнечной активности или магнитных бурь. Заряженные частицы, выброшенные звездой, достигают атмосферы нашей планеты и при взаимодействии с газами вызывают зеленое, красное и фиолетовое свечение.</p>
				<p>А вот на севере, в том числе в Карелии, аврора возникает регулярно. Это значит, что вы вполне можете совместить фантастический зимний отдых с охотой за удивительным полярным сиянием.</p>
				<p>Берег озера Мунозера, расположенного на высоте 202 метра над уровнем моря, лишь частично заселен. На его южной стороне почти нет строений, а значит, свет не будет мешать любоваться авророй. Удивительная природа станет отличным фоном для фантастических фото.</p>
				<p>А вот на севере, в том числе в Карелии, аврора возникает регулярно. Это значит, что вы вполне можете совместить фантастический зимний отдых с охотой за удивительным полярным сиянием.</p>
				<p>Берег озера Мунозера, расположенного на высоте 202 метра над уровнем моря, лишь частично заселен. На его южной стороне почти нет строений, а значит, свет не будет мешать любоваться авророй. Удивительная природа станет отличным фоном для фантастических фото.</p>
			</div>
		</div>

	</div>
</div>

<div id="modalTop2" class="modal modalTop2">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalTop2 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-top-2.jpg" width="600" height="320" alt="" loading="lazy">
			</div>
			<div class="modal__intro">
				<div class="modal__intro-body">
					&laquo;Вереяр&raquo;, где &laquo;верея&raquo; &mdash; основа, поддерживающая ворота в открытие Карелии, а&nbsp;&laquo;яровать&raquo; &mdash; старорусский глагол действия, означающий последовательный путь к новой лучшей версии себя и мира.
				</div>
				<div class="modal__intro-author block-author">
					<div class="block-author_photo">
						<img src="@img/main-bottom/bot-img-photo-2.png" class="mw-66" width="90" height="90" alt="" loading="lazy">
					</div>
					<div class="block-author_data">
						<div class="block-author__name">Дмитрий Хан</div>
						<div class="block-author__title">Генеральный директор ООО <br>&laquo;ГРБК &laquo;Спасская Губа&raquo;</div>
					</div>
					<div class="modal-svg-bottom" data-da="#modalTop2 .modal__text,1023,last">
						<svg width="58" height="71">
							<use xlink:href="#ornament-bird-red"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Легенда Вереяра</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>В древние времена на просторах Карелии обитали великаны. Славились они не только своей мощью, но и невероятным гостеприимством. Однажды между ними разгорелось состязание: кто же из них окажется самым гостеприимным хозяином.</p>
				<p>Первый великан, стремясь показать своё щедрое сердце, накрыл стол, который мог бы вместить всех жителей мира. Но в своём рвении он забыл о самом главном &mdash;пригласить гостей. Второй, воспылав желанием победить, позвал к себе всех подряд, но так увлёкся приглашениями, что забыл о пространстве для гостей &mdash; и они не смогли уместиться в его доме.</p>
				<p><strong>Тогда на арену вышел третий великан по имени Вереяр.</strong> Он не торопился с действиями и не хвастал планами. Вереяр взял два огромных столба и поднялся на высокий холм, где силой своих рук воздвиг ворота, словно вход в невиданный двор. Остальные великаны смеялись над ним, не понимая смысла его действий. Но Вереяр лишь улыбнулся в ответ и произнёс: &laquo;Где ворота &mdash; там двор. Где двор &mdash; там дом. А где дом &mdash; там всегда найдутся гости&raquo;.</p>
				<p>И словно магическим образом, всё обернулось так, как он сказал. Через эти ворота-портал в его дом стали стекаться гости со всех уголков мира. И каждому находилось место, каждый знал, что его ждёт тёплый приём и вкусное угощение. С тех пор прошло много лет, но место это до сих пор зовут Вереяр. И до сих пор люди со всех концов приходят сюда за чудом, за уютом и теплом. Они знают &mdash; здесь всегда рады гостям. Так образовалось место силы, которое напоминает всем о важности гостеприимства, доброты и того необыкновенного чувства, когда тебя ждут и рады видеть.</p>
			</div>
		</div>

	</div>
</div>

<div id="modalBot3" class="modal">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_aside" data-da="#modalBot3 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-bot-3.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>
		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">История места</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>Спасская Губа &mdash; село, располагающееся в Кондопожском районе, Республики Карелия. Населенный пункт является административным центром Петровского сельского поселения. Считается одним из старинных сел района. Первые упоминания о нём появились в XVI веке.</p>
				<p>Первое упоминание о Спасской Губе датируется XVI веком. Однако каких-то особенно подробных описаний местности и населения не осталось. Известно, что два века спустя на этом месте возвели чугуноплавильные заводы. Население занималось добычей малинового гранита на территории близлежащего населенного пункта &mdash; села Белая гора. Добытый материал позже переправлялся в Санкт-Петербург. Помимо этого, жители села вели торговлю с соседями.</p>
				<p>В течение последующих шестнадцати лет поселок развивался и процветал. Однако это продолжалось недолго. В 1918 году, когда в стране разгоралась гражданская война, территория Спасской Губы попала под линию фронта. В тот год было расстреляно 50 жителей. В дальнейшем земли Спасской Губы постигла участь коллективизации 30-х. Советская власть раскулачила 114 крестьян, проживающих здесь. Далее настал час раздела земель: в прилегающих землях было основано девять коллективных хозяйств. Позже Спасская Губа получает статус центра Петровского района.</p>
				<p>На территории села строятся отделение милиции, районный комитет КПСС, лесное хозяйство. Открываются типография, клуб, школа и библиотека. С развитием инфраструктуры начинается подъем демографии и приток людей.</p>
				<p>Конец 30-х вновь омрачает жизнь сельчан: во время &laquo;красного террора&raquo; арестовывается 67 мужчин. К этому времени общее население составляет 527 человек. Во время Великой Отечественной войны финский захватчик зашел на территорию села. Однако при отступлении советские войска воспользовались тактикой &laquo;выжженной земли&raquo;, после чего от угодий Спасской Губы осталось шесть домов. Жителей села транспортировали за Урал. После войны население вернулось на родную землю.</p>
			</div>
		</div>
	</div>
</div>

<div id="modalBot10_1" class="modal modalBot10_1">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalBot10_1 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-bot-10-1.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Концепция</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>Концепция курорта подразумевает создание уютного городка с разнообразием отелей, апартов, ресторанов, кафе, магазинов и сервисов.</p>
				<p>Базарные площади, торговые галереи и креативные общественные пространства, пристань и яхтенная марина сформируют незабываемую атмосферу северного гостеприимства.</p>
				<div class="modal-svg-bottom">
					<svg width="101" height="81">
						<use xlink:href="#ornament-fish-swamp"></use>
					</svg>
				</div>
			</div>
		</div>

	</div>
</div>