<div id="modalTop1" class="modal">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalTop1 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-top-1.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Северное сияние</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>На самом деле северное сияние правильнее называть полярным или Aurora borealis. Оно бывает не только в северном полушарии, но и в южном, когда там царит зима. Явление возникает во время пиков солнечной активности или магнитных бурь. Заряженные частицы, выброшенные звездой, достигают атмосферы нашей планеты и при взаимодействии с газами вызывают зеленое, красное и фиолетовое свечение.</p>
				<p>А вот на севере, в том числе в Карелии, аврора возникает регулярно. Это значит, что вы вполне можете совместить фантастический зимний отдых с охотой за удивительным полярным сиянием.</p>
				<p>Берег озера Мунозера, расположенного на высоте 202 метра над уровнем моря, лишь частично заселен. На его южной стороне почти нет строений, а значит, свет не будет мешать любоваться авророй. Удивительная природа станет отличным фоном для фантастических фото.</p>
				<p>А вот на севере, в том числе в Карелии, аврора возникает регулярно. Это значит, что вы вполне можете совместить фантастический зимний отдых с охотой за удивительным полярным сиянием.</p>
				<p>Берег озера Мунозера, расположенного на высоте 202 метра над уровнем моря, лишь частично заселен. На его южной стороне почти нет строений, а значит, свет не будет мешать любоваться авророй. Удивительная природа станет отличным фоном для фантастических фото.</p>
			</div>
		</div>

	</div>
</div>

<div id="modalTop7" class="modal">
	<div class="modal__wrapper">

		<div class="modal__col modal__col_aside" data-da="#modalTop7 .modal__text,1023,0">
			<div class="modal__img modal__img_h50">
				<img src="@img/modals/modal-top-7.jpg" width="600" height="320" alt="" loading="lazy">
			</div>
			<div class="modal__intro">
				<div class="modal__intro-body">
					&laquo;Вереяр&raquo;, где &laquo;верея&raquo; &mdash; основа, поддерживающая ворота в открытие Карелии, а&nbsp;&laquo;яровать&raquo; &mdash; старорусский глагол действия, означающий последовательный путь к новой лучшей версии себя и мира.
				</div>
				<div class="modal__intro-author block-author">
					<div class="block-author_photo">
						<img src="@img/main-bottom/bot-img-photo-2.png" class="mw-66" width="90" height="90" alt="" loading="lazy">
					</div>
					<div class="block-author_data">
						<div class="block-author__name">Дмитрий Хан</div>
						<div class="block-author__title">Генеральный директор<br>ООО &laquo;ГРБК &laquo;Спасская Губа&raquo;</div>
					</div>
					<div class="modal-svg-icon-quote" data-da="#modalTop7 .modal__text,1023,last">
						<img src="@img/dev/ornament-bird-red.svg" width="90" height="90" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Легенда Вереяра</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>В древние времена на просторах Карелии обитали великаны. Славились они не только своей мощью, но и невероятным гостеприимством. Однажды между ними разгорелось состязание: кто же из них окажется самым гостеприимным хозяином.</p>
				<p>Первый великан, стремясь показать своё щедрое сердце, накрыл стол, который мог бы вместить всех жителей мира. Но в своём рвении он забыл о самом главном &mdash; пригласить гостей. Второй, воспылав желанием победить, позвал к себе всех подряд, но так увлёкся приглашениями, что забыл о пространстве для гостей &mdash; и они не смогли уместиться в его доме.</p>
				<p><strong>Тогда на арену вышел третий великан по имени Вереяр.</strong> Он не торопился с действиями и не хвастал планами. Вереяр взял два огромных столба и поднялся на высокий холм, где силой своих рук воздвиг ворота, словно вход в невиданный двор. Остальные великаны смеялись над ним, не понимая смысла его действий. Но Вереяр лишь улыбнулся в ответ и произнёс: &laquo;Где ворота &mdash; там двор. Где двор &mdash; там дом. А где дом &mdash; там всегда найдутся гости&raquo;.</p>
				<p>И словно магическим образом, всё обернулось так, как он сказал. Через эти ворота-портал в его дом стали стекаться гости со всех уголков мира. И каждому находилось место, каждый знал, что его ждёт тёплый приём и вкусное угощение. С тех пор прошло много лет, но место это до сих пор зовут Вереяр. И до сих пор люди со всех концов приходят сюда за чудом, за уютом и теплом. Они знают &mdash; здесь всегда рады гостям. Так образовалось место силы, которое напоминает всем о важности гостеприимства, доброты и того необыкновенного чувства, когда тебя ждут и рады видеть.</p>
			</div>
		</div>

	</div>
</div>

<div id="modalTop11" class="modal">
	<div class="modal__wrapper">
		<div class="modal__col modal__col_aside" data-da="#modalTop11 .modal__text,1023,0">
			<div class="modal__img">
				<img src="@img/modals/modal-top-11.jpg" width="600" height="640" alt="" loading="lazy">
			</div>
		</div>
		<div class="modal__col modal__col_body">
			<div class="modal__header">
				<div class="h2">Храм преображения господня</div>
			</div>
			<div class="modal__text scrollblock scroll-y">
				<p>Преображенский храм стоит на горе в самом центре села Спасская Губа. Высота храма составляет 15 метров. Церковь построена в традициях новгородской архитектуры XII&ndash;XIV веков. Стены и потолок храма покрыты росписями в византийском стиле, выполненными петрозаводским иконописцем Дмитрием Юдовым. На потолке средней части изображён двухметровый лик Христа Спасителя. Расписаны также и остальные стены храма. Рядом с храмом расположен приходской дом, в котором проводятся занятия воскресной школы, духовные беседы и приходские трапезы.</p>
				<p>В 1930-е годы в здании Преображенской церкви разместился клуб, затем храм был разрушен. В начале 2000-х годов село начало возрождаться заново, в том числе и духовно. В 2001 году в селе была построена и освящена часовня Спаса Преображения. Спустя 11 лет по инициативе местных жителей на месте утраченной Преображенской церкви начато строительство нового храма.</p>
				<p>24 сентября 2017 год митрополит Петрозаводский и Карельский Константин совершил великое освящение и первую Божественную Литургию в храме.</p>
			</div>
		</div>
	</div>
</div>