<nav class="nav" role="navigation">
	<input id="menu-toggle" class="menu-toggle" type="checkbox" />
	<label class="hamburger-box" for="menu-toggle">
		<div class="hamburger-inner"></div>
	</label>
	<div class="menu-wrapper">
		<ul class="nav__list">
			<li class="nav__item"><a href="#" class="nav__link">Home</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Catalog</a></li>
			<li class="nav__item"><a href="#" class="nav__link">About</a></li>
			<li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
		</ul>
	</div>
</nav>
