// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//** Fonts
/// Headers font family
/// @type List
$family-primary: "TT Firs Neue", "Roboto", "Helvetica", "Open Sans", "Arial", sans-serif !default;

/// Regular font family
/// @type List
$family-secondary: "Roboto", "Helvetica", "Open Sans", "Arial", sans-serif !default;

/// Monospace font family
/// @type List
// $ff-mono: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Monaco", monospace !default;

/// Default font size for rem() function (body font-size 100%)
$browser-context: 16;

//** Colors --var
// Цвета дублируются в _root-vars-map для первичной генерации переменных root-vars.scss
// Можно обойтись без дублирования тут, если вызывать через функцию color(color-name) напрямую из _root-vars-map, но так дольше писать xD
/// Simple colors
/// @type Color
$black: var(--grafit-vereyar);
$red: var(--krasnyy-vereyar);
$green: var(--zelenyy-vereyar);
$swamp: var(--bolotnyy-vereyar);
$sky: var(--nebesnyy-vereyar);
$white: var(--belyy);
$gray: var(--seryy);

$black-real: var(--black-real);
$gray-light: var(--gray-light);
$gray-dark: var(--gray-dark);
$gray-light-2: var(--gray-light-2);

$greenHEX: #57b9a6;
$redHEX: #fd504c;

$red-dark: darken($redHEX, 10%);

/// Main brand color
/// @type Color
$brand-color-primary: #05486e !default;
$brand-color-primary-lighten: lighten($brand-color-primary, 30%);
$brand-color-primary-darken: darken($brand-color-primary, 10%);

$brand-color-secondary: #00748b !default;
$brand-color-secondary-lighten: lighten($brand-color-secondary, 20%);
$brand-color-secondary-darken: darken($brand-color-secondary, 10%);

$brand-color-accent: #e35833 !default;

/// Text color
/// @type Color
$text-color: $black;
$href-color: $black;
$href-color-hover: $red;

/// Form colors
/// @type Color
$placeholder-color: $black;
$input-color: $black;

//** SVGs --var
$svg-fetch-ring: var(--svg-fetch-ring);
$svg-arrow-long: var(--svg-arrow-long);
$svg-arrow-black: var(--svg-arrow-black);
$svg-arrow-white: var(--svg-arrow-white);
$svg-angle: var(--svg-angle);
$svg-close: var(--svg-close);
$svg-nav-search: var(--svg-nav-search);
$svg-geo: var(--svg-geo);
$svg-checked: var(--svg-checked);
$svg-download: var(--svg-download);

/// Transitions
$transition-default: 250ms ease-in-out;

/// Container's maximum width + paddings
/// @type Length
$min-width: 320px !default;
$max-width: 1440px !default;
$min-padding: 20px !default;
$max-padding: 50px !default;

//** Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	"xs": 375px,
	"sm": 425px,
	"xm": 577px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1280px,
	"hd": 1440px,
	"fhd": 1920px,
) !default;

/// Icons base64
// $menu-arrow-white: "data:image/svg+xml;base64,.....";
