.m-begin {
	font-family: $family-primary;
	font-weight: 500;
	font-size: rem(18);
	line-height: 1.1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	padding-right: 31px;
	flex: 0 1 auto;
	display: table-caption;

	@include resp-from(lg) {
		font-size: rem(25);
	}
}

.m-ornament {
	display: flex;
	height: 120px;

	img {
		max-width: none;
		width: auto;
		height: 100%;
		margin-right: 15px;

		&:last-child {
			width: 1800px;
			object-fit: cover;
			object-position: 0 0;
		}
	}

	@include resp-from(lg) {
		height: 165px;

		img {
			&:last-child {
				width: 3020px;
			}
		}
	}
}

.m-end {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 388px;

	@include resp-from(lg) {
		margin-left: 615px;
		flex-direction: row;
	}

	// .m-end__logo
	&__logo {
		padding: 0 10px;

		svg {
			fill: currentColor;
			min-width: 300px;
			max-width: 332px;
			height: 61px;
			width: clamp(300px, 90vw, 332px);
		}

		@include resp-from(lg) {
			svg {
				width: 661px;
				min-width: none;
				max-width: none;
				height: 122px;
			}
		}
	}

	// .m-end__text
	&__text {
		font-family: $family-primary;
		font-weight: 500;
		font-size: rem(22);
		line-height: 1;
		letter-spacing: 0.06em;
		white-space: nowrap;
		margin-top: 15px;

		@include resp-from(lg) {
			font-size: rem(28);
			padding: 0 0 0 20px;
		}
	}
}
