.main {
	padding-left: 50px;
	background: $black;
	color: $white;
	// height: 945px;
	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
	overscroll-behavior-x: contain;

	// .main__top
	&__top {
		display: flex;
		position: relative;
		height: 331px;
		margin-bottom: 25px;

		& > div {
			flex: 0 0 auto;
		}
	}

	// .main__middle
	&__middle {
		display: flex;
		align-items: center;
	}

	// .main__bottom
	&__bottom {
		display: flex;
		position: relative;
		height: 396px;
		margin-top: 28px;

		& > div {
			flex: 0 0 auto;
		}
	}

	a {
		@include on-hover {
			.frame-legend,
			.block-legend {
				color: $white;
			}
		}
	}

	sup {
		font-size: rem(14);
	}
}

@import "block-main-top";
@import "block-main-middle";
@import "block-main-bottom";

.frame-card-1 {
	display: flex;
	background: $white;
	color: $text-color;
	height: 250px;
	max-width: 560px;

	// .frame-card-1__img
	&__img {
		flex: 0 0 auto;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	// .frame-card-1__text
	&__text {
		display: flex;
		flex-direction: column;
		padding: 21px 43px 24px 27px;
	}

	// .frame-card-1__header
	&__header {
		font-family: $family-primary;
		font-weight: 600;
		line-height: 109%;
		letter-spacing: 0.15em;
		color: $red;
		text-transform: uppercase;
		margin-bottom: 12px;
	}

	// .frame-card-1__body
	&__body {
		font-size: rem(14);
		line-height: 1.3;
		display: -webkit-box;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	// .frame-card-1__link
	&__link {
		font-size: rem(13);
		display: flex;
		justify-content: end;
		margin-top: 5px;
		margin-top: auto;
	}
}

.frame-card-2 {
	display: flex;
	gap: 50px;
	max-width: 650px;

	@include when-inside(".t-frame-12") {
		max-width: 710px;
	}

	@include when-inside(".b-frame-5") {
		max-width: 625px;
		margin-left: 55px;
	}

	// .frame-card-2__img
	&__img {
		flex: 0 0 auto;
	}

	// .frame-card-2__text
	&__text {
		display: flex;
		flex-direction: column;
		margin-top: -6px;
	}

	// .frame-card-2__body
	&__body {
		font-size: rem(17);
		line-height: 1.5;
	}
}

.frame-block-link {
	@include on-hover {
		.frame-header {
			color: $green;
			animation: bounceEffect 1.2s ease-in-out infinite;
		}
	}
}

.frame-image-link {
	@include on-hover {
		img {
			animation: boxShadowEffect 2s ease-in-out infinite;
		}
	}
}

.frame-header {
	width: 100%;
	font-family: $family-primary;
	font-weight: 600;
	font-size: rem(32);
	line-height: 0.9;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	transition: all $transition-default;
}

.frame-body {
	font-size: rem(17);
	line-height: 1.5;
}

.frame-legend {
	font-size: rem(12);
	color: $gray;
	transition: all $transition-default;
	margin-bottom: -4px;

	@include resp-from(lg) {
		font-size: rem(13);
	}
}

.frame-ul {
	@include when-inside(".main__top") {
		margin-top: 62px;
	}

	// .frame-ul__header
	&__header {
		display: flex;
		align-items: center;
		gap: 19px;
		font-family: $family-primary;
		font-weight: 500;
		font-size: rem(25);
		line-height: 0.8;
		letter-spacing: 0.06em;
		margin-bottom: 10px;
	}

	// .frame-ul__list
	&__list {
		margin-left: calc(33px + 19px + 6px) !important;

		@include when-inside(".main__top") {
			// margin-bottom: -7px !important;
		}

		li {
			font-size: rem(17);
			line-height: 1.4;
			list-style-type: disc;
			margin-bottom: 11px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.block-header {
	font-family: $family-primary;
	font-weight: 500;
	font-size: rem(25);
	line-height: 0.8;
	letter-spacing: 0.06em;
}

.block-legend {
	font-size: rem(12);
	line-height: 1.17;
	color: $gray;
	transition: all $transition-default;
	margin-bottom: -6px;

	@include resp-from(lg) {
		font-size: rem(14);
		line-height: 1.4;
	}
}

.block-author {
	// .block-author_photo
	&_photo {
		position: relative;
		margin-left: auto;
		margin-right: -4px;

		@include when-inside(".modal") {
			margin: 0;
		}
	}

	// .block-author_data
	&_data {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 90px;
		gap: 6px;
		margin-top: 3px;

		@include when-inside(".modal") {
			margin: 0;
			height: auto;
		}
	}

	// .block-author__name
	&__name {
		font-weight: 500;

		@include when-inside(".modal") {
			font-size: rem(14);
			font-weight: 600;

			@include resp-from(lg) {
				font-size: rem(17);
			}
		}
	}

	// .block-author__title
	&__title {
		color: $gray;
		font-size: rem(13);

		@include when-inside(".modal") {
			color: $black;
			font-size: rem(12);

			@include resp-from(lg) {
				font-size: rem(13);
			}
		}
	}
}

.icon-quote {
	position: relative;
	top: 4px;
}

.mw-66 {
	@include resp-to(lg) {
		width: 66px;
	}
}

.mw-110 {
	@include resp-to(lg) {
		width: 110px;
	}
}

.mw-117 {
	@include resp-to(lg) {
		width: 117px;
	}
}

.mw-185 {
	@include resp-to(lg) {
		width: 185px;
	}
}

.mw-375 {
	@include resp-to(lg) {
		width: 375px;
	}
}
