.t-frame-1 {
	padding-top: 45px;
	margin-right: 33px;

	.link-pdf {
		color: $white;
		font-size: rem(13);
		line-height: 1.3;
	}

	// .frame-legend {
	// 	margin-left: -10px;
	// }
}

.t-frame-2 {
	margin-right: 56px;
}

.t-frame-3 {
	margin-right: 45px;
}

.t-frame-4 {
	margin-right: 123px;
}

.t-frame-5 {
	margin-right: 83px;
	margin-top: -52px;

	.frame-header {
		margin-left: 41px;
		margin-bottom: -6px;
	}
}

.t-frame-6 {
	margin-right: 87px;
}

.t-frame-7 {
	margin-right: 184px;
}

.t-frame-8 {
	margin-right: 204px;
}

.t-frame-9 {
	margin-right: 75px;
}

.t-frame-10 {
	margin-right: 110px;
}

.t-frame-11 {
	margin-right: 110px;
}

.t-frame-12 {
	margin-right: 74px;
}

.t-frame-13 {
	margin-right: 55px;
}

.t-frame-14 {
}

.t-frame-15 {
	margin-right: 40px;

	& > div {
		padding-left: 85px;
	}
}

.t-frame-16 {
	position: relative;
	margin-right: 193px;

	.frame-legend {
		position: absolute;
		right: 27%;
		bottom: 50%;
	}
}

.t-frame-17 {
	margin-right: 46px;
}

.t-frame-18 {
	margin-right: 230px;

	img {
		margin-top: 85px;
	}
}

.t-frame-19 {
	margin-right: 30px;
}

.t-frame-20 {
	margin-right: 135px;
}

.t-frame-21 {
	margin-right: 148px;
}

.t-frame-22 {
	margin-right: 60px;

	svg {
		margin-top: -15px;
	}
}

.t-frame-23 {
	margin-right: 50px;

	img {
		margin-left: 45px;
	}
}

.t-frame-24 {
	margin-right: 193px;
}

.t-frame-25 {
	margin-right: 65px;
}

.t-frame-26 {
	margin-right: 43px;
}

.t-frame-27 {
	margin-right: 75px;
}

.t-frame-28 {
	margin-right: 350px;
}

.t-frame-29 {
	margin-right: 80px;

	& > div > div {
		&:nth-child(1) {
			svg {
				margin-bottom: 20px;
			}
		}
		&:nth-child(2) {
			svg {
				margin-bottom: 6px;
			}
		}
	}

	.block-legend {
		margin-bottom: 0;
	}
}

.t-frame-30 {
	margin-right: 55px;
}

.t-frame-31 {
	margin-right: 140px;

	.block-legend {
		margin-bottom: 0;
	}
}

.t-frame-32 {
	picture,
	img {
		height: 100%;
		object-fit: cover;
		width: auto;
	}
}
