.m-begin {
	font-family: $family-primary;
	font-weight: 500;
	font-size: rem(25);
	line-height: 1.1;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	padding-right: 31px;
	flex: 0 1 auto;
	display: table-caption;
}

.m-ornament {
	display: flex;
	height: 165px;

	img {
		max-width: none;
		width: auto;
		height: 100%;
		margin-right: 15px;

		&:last-child {
			width: 3020px;
			object-fit: cover;
			object-position: 0 0;
		}
	}
}

.m-logo {
	margin-left: 615px;

	svg {
		fill: currentColor;
		width: 661px;
		height: 122px;
	}
}

.m-end {
	font-family: $family-primary;
	font-weight: 500;
	font-size: rem(28);
	line-height: 1;
	letter-spacing: 0.06em;
	padding: 0 23px 0 20px;
	white-space: nowrap;
}
