.transport {
	// .transport__header
	&__header {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		padding: 53px 0 45px;

		@include resp-from(md) {
			flex-wrap: nowrap;
		}
	}

	// .transport__note
	&__note {
		max-width: 525px;
		font-size: rem(16);
		line-height: 1.25;
		color: $black-real;

		@include resp-from(md) {
			font-size: rem(17);
			line-height: 1.5;
			margin-left: auto;
		}
	}

	// .transport__info
	&__info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 0;
		padding: 35px 0 50px;

		@include resp-from(md) {
			grid-template-columns: repeat(3, 1fr);
			padding: 46px 0 97px;
		}

		@include resp-from(hd) {
			grid-template-columns: repeat(6, 1fr);
			margin-left: -30px;
		}
	}
}

.transport-item {
	--padding: 30px;
	color: $red;
	border-left: 2px solid;
	padding: 0 var(--padding);

	&:nth-child(odd) {
		border-color: transparent;
		padding-left: 0;

		@include resp-from(md) {
			border-color: initial;
			padding-left: var(--padding);
		}
	}

	&:nth-child(even) {
		padding-right: 0;

		@include resp-from(md) {
			padding-right: var(--padding);
		}
	}

	&:nth-child(3n + 1) {
		@include resp-from(md) {
			border-color: transparent;
		}

		@include resp-from(hd) {
			border-color: initial;
		}
	}

	&:first-child {
		@include resp-from(hd) {
			border-color: transparent;
		}
	}

	// .transport-item__header
	&__header {
		font-family: $family-primary;
		font-weight: 500;
	}

	// .transport-item__value
	&__value {
		font-size: rem(52);

		@include resp-from(md) {
			font-size: rem(65);
		}
	}

	// .transport-item__unit
	&__unit {
		font-size: rem(20);

		@include resp-from(md) {
			font-size: rem(24);
		}
	}

	// .transport-item__body
	&__body {
		font-size: rem(14);
		line-height: 1.3;
		color: $black-real;

		@include resp-from(md) {
			font-size: rem(17);
			line-height: 1.5;
		}
	}
}
