<div class="bg-dark">
	<div class="content">
		<div class="press">
			<div class="h1">Пресс-центр</div>

			<div class="swiper swiper-press">
				<div class="press__list swiper-wrapper">
					<div class="press__item swiper-slide">
						<div class="press__text">
							<div class="press__header">Глэмпинг у озера</div>
							<div class="press__body">Ясность нашей позиции очевидна: сплочённость команды профессионалов создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.</div>
							<div class="press__footer">
								<div class="press__date">11 сентября 2024</div>
								<div class="press__link"><a href="/" class="link-more" rel="nofollow" target="_blank">читать в источнике</a></div>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__text">
							<div class="press__header">Lorem ipsum dolor sit amet</div>
							<div class="press__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tempora quisquam fugiat inventore consequuntur ab quaerat perferendis blanditiis incidunt dolorum?</div>
							<div class="press__footer">
								<div class="press__date">10 сентября 2024</div>
								<div class="press__link"><a href="/" class="link-more" rel="nofollow" target="_blank">читать в источнике</a></div>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__img">
							<img src="@img/dev/press-img-1.jpg" width="400" height="200" alt="Глэмпинг у озера">
						</div>
						<div class="press__text">
							<div class="press__header">Глэмпинг у озера</div>
							<div class="press__body"></div>
							<div class="press__footer">
								<div class="press__date">9 сентября 2024</div>
								<div class="press__link"><a href="/" class="link-more" rel="nofollow" target="_blank">читать в источнике</a></div>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__text">
							<div class="press__header">Глэмпинг у озера</div>
							<div class="press__body">Ясность нашей позиции очевидна: сплочённость команды профессионалов создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.</div>
							<div class="press__footer">
								<div class="press__date">7 сентября 2024</div>
								<div class="press__link"><a href="/" class="link-more" rel="nofollow" target="_blank">читать в источнике</a></div>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__text">
							<div class="press__header">Глэмпинг у озера</div>
							<div class="press__body">
								Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam, iusto quam. Saepe architecto aliquam fuga nihil dolorum nam alias quisquam sequi nulla magni ipsum nisi praesentium minima illo, reprehenderit, qui dicta quas accusamus ex laudantium est. Totam reiciendis harum fugit, voluptas odio repellat nesciunt deserunt rem ipsa modi pariatur ad velit maxime rerum, repudiandae iste optio. Quis quasi asperiores explicabo, minima commodi ea distinctio ex esse culpa magnam, illum iusto.</div>
							<div class="press__footer">
								<div class="press__date">2 сентября 2024</div>
								<div class="press__link"><a href="/" class="link-more" rel="nofollow" target="_blank">читать в источнике</a></div>
							</div>
						</div>
					</div>

					<div class="press__item swiper-slide">
						<div class="press__text">
							<div class="press__header">Глэмпинг у озера</div>
							<div class="press__body">Ясность нашей позиции очевидна: сплочённость команды профессионалов создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса направлений прогрессивного развития.</div>
							<div class="press__footer">
								<div class="press__date">1 сентября 2024</div>
								<div class="press__link"><a href="/" class="link-more" rel="nofollow" target="_blank">читать в источнике</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>

		</div>
	</div>
</div>