<div class="transport" id="transport">
	<div class="content">
		<div class="transport__header">
			<div class="h1">Транспортная доступность</div>
			<div class="transport__note">Дополнительным преимуществом курорта является удобная транспортная доступность: удобное авиа-, ж/д и автомобильное сообщение связывает &laquo;Вереяр&raquo; со столицей и другими крупными городами России.</div>
		</div>
	</div>
	<div class="map-main"></div>
	<div class="content">
		<div class="transport__info">
			<div class="transport-item">
				<div class="transport-item__header">
					<span class="transport-item__value">40</span>
					<span class="transport-item__unit">км</span>
				</div>
				<div class="transport-item__body">от аэропорта Петрозаводска</div>
			</div>
			<div class="transport-item">
				<div class="transport-item__header">
					<span class="transport-item__value">1,5</span>
					<span class="transport-item__unit">часа</span>
				</div>
				<div class="transport-item__body">авиаперелёт Москва &mdash; Петрозаводск</div>
			</div>
			<div class="transport-item">
				<div class="transport-item__header">
					<span class="transport-item__value">12</span>
					<span class="transport-item__unit">часов</span>
				</div>
				<div class="transport-item__body">поезд &laquo;Карелия&raquo; Москва &mdash; Петрозаводск</div>
			</div>
			<div class="transport-item">
				<div class="transport-item__header">
					<span class="transport-item__value">5</span>
					<span class="transport-item__unit">часов</span>
				</div>
				<div class="transport-item__body">поезд &laquo;Ласточка&raquo; Санкт-Петербург &mdash; Петрозаводск</div>
			</div>
			<div class="transport-item">
				<div class="transport-item__header">
					<span class="transport-item__value">6</span>
					<span class="transport-item__unit">часов</span>
				</div>
				<div class="transport-item__body">на автомобиле из Санкт-Петербурга</div>
			</div>
			<div class="transport-item">
				<div class="transport-item__header">
					<span class="transport-item__value">4</span>
					<span class="transport-item__unit">часа</span>
				</div>
				<div class="transport-item__body">авиаперелёт Сочи &mdash; Петрозаводск</div>
			</div>
		</div>
	</div>
</div>