<div class="content">
	<div class="partners">
		<div class="h1">Партнёры проекта</div>
		<div class="partners__list">
			<div class="partners__item">
				<div class="partners__logo">
					<img src="@img/partner-1.svg" width="200" height="110" alt="">
				</div>
				<div class="partners__info">финансовый партнёр</div>
			</div>
			<div class="partners__item">
				<div class="partners__logo">
					<img src="@img/partner-2.svg" width="200" height="110" alt="">
				</div>
				<div class="partners__info">технический заказчик</div>
			</div>
			<div class="partners__item">
				<div class="partners__logo">
					<img src="@img/partner-3.svg" width="200" height="110" alt="">
				</div>
				<div class="partners__info">технический заказчик</div>
			</div>
			<div class="partners__item">
				<div class="partners__logo">
					<img src="@img/partner-4.svg" width="200" height="110" alt="">
				</div>
				<div class="partners__info">генеральный проектировщик</div>
			</div>
			<div class="partners__item">
				<div class="partners__logo">
					<img src="@img/partner-5.svg" width="200" height="110" alt="">
				</div>
				<div class="partners__info">разработчик мастер-плана</div>
			</div>
		</div>
	</div>
</div>