<footer class="footer bg-dark">
	<div class="content">
		<div class="footer__wrapper">
			<div class="footer__col1">
				<div class="footer__logo">
					<a href="/" aria-label="Вереяр главная страница">
						<svg>
							<use xlink:href="#logo"></use>
						</svg>
					</a>
				</div>
				<div class="footer__slogan">
					Всесезонный горнолыжный и бальнеологический курорт
				</div>
				<div class="footer__support">
					При поддержке Правительства Карелии
				</div>
			</div>
			<div class="footer__col2">
				<div>
					<span class="footer-header">Контакты</span>
					<span>185035, г.&nbsp;Петрозаводск, <br>р-н&nbsp;Центр, ул.&nbsp;Куйбышева, д.&nbsp;26.</span>
					<a href="tel:+78005005555">+7 800 500-5555</a>
					<a href="mailto:info@vereyar.ru">info@vereyar.ru</a>
				</div>
				<div>
					<a class="footer-header" href="#press">Пресс-центр</a>
				</div>
			</div>
			<div class="footer__col3">
				<div class="footer__ornament">
					<picture>
						<source media="(min-width: 1024px)" srcset="@img/footer-ornament-1024.svg" type="image/svg+xml">
						<img src="@img/footer-ornament.svg" width="518" height="132" alt="" loading="lazy">
					</picture>
				</div>
			</div>
		</div>
		<div class="footer__copyright">
			<span>Дизайн и разработка <a href="https://cbiconsult.ru/" rel="nofollow" target="_blank">СBI Pioneer</a></span>
			<span>ООО «ГРБК «Спасская губа». 2024</span>
		</div>
	</div>
</footer>