<nav class="nav" role="navigation">
	<input id="menu-toggle" class="menu-toggle" type="checkbox" />
	<label class="hamburger-box" for="menu-toggle">
		<div class="hamburger-inner"></div>
	</label>
	<div class="menu-wrapper">
		<div class="nav__logo">
			<svg width="295" height="53">
				<use xlink:href="#logo"></use>
			</svg>
			<label class="hamburger-box" for="menu-toggle">
				<div class="hamburger-inner"></div>
			</label>
		</div>
		<div class="nav__slogan">
			Всесезонный горнолыжный и бальнеологический курорт
		</div>

		<ul class="nav__list">
			<li class="nav__item"><a href="#partners" class="nav__link">Партнёры</a></li>
			<li class="nav__item"><a href="#press" class="nav__link">Пресс-центр</a></li>
			<li class="nav__item"><a href="#transport" class="nav__link">Транспорт</a></li>
			<li class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li>
		</ul>

		<div class="nav__contacts">
			<div class="nav__info">
				<span>185035, г.&nbsp;Петрозаводск, <br>р-н&nbsp;Центр, ул.&nbsp;Куйбышева, д.&nbsp;26.</span>
				<a href="mailto:info@vereyar.ru">info@vereyar.ru</a>
				<a href="tel:+78005005555">+7 800 500-5555</a>
			</div>
			<div class="nav__ornament">
				<img src="@img/footer-ornament.svg" width="518" height="132" alt="" loading="lazy">
			</div>
		</div>

		<div class="nav__copyright">
			<span>ООО «ГРБК «Спасская губа». 2024</span>
			<span>Дизайн и разработка <a href="https://cbiconsult.ru/" rel="nofollow" target="_blank">СBI Pioneer</a></span>
		</div>
	</div>
</nav>